@model List<Domain.Allergie>

@{
    ViewBag.Title = "Allergenen";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
<p>Een overzicht van alle allergenen</p>

<table class="table" id="table">
    <tr >
        <th>AllergieId</th>
        <th>Naam</th>
        <th>Beschrijving</th>
    </tr>
    
    @foreach (Domain.Allergie allergie in Model.ToList())
    {
        <tr class="text-auto-even">
            <td>@allergie.AllergieId</td>
            <td>@allergie.Naam</td>
            <td>@allergie.Beschrijving</td>
            </tr>
    }
</table> 