@{
    ViewData["Title"] = "Startpagina";
}

<div class="text-center">
    <h1 class="display-4">'t Winkeltje</h1>
    <p>Welkom op de website van 't Winkeltje Nijlen</p>
</div>
<br/>
<partial name="CarouselPartial"/>